body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.page-half {
  margin-left: 150px;
  margin-right: 90px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  padding-left: 15px;
}
span {
  color: orange;
}
.display-half {
  display: flex;
}
.half-div {
  /* width: 50%; */
  /* padding-left: 80px; */
  padding-right: 20px;
}
.half-div img {
  max-width: 80%;
}
.half-div a {
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
}
.mission-22 {
  border-left: 3px solid tomato;
  line-height: 30px;

  /* border-image: linear-gradient;    */
}
.my-mission h1 {
  text-align: center;
}
.mission-vission-gool {
  margin-right: 25px;
  border-radius: 20px;
  padding: 0 25px;
  font-size: 16px;
}
.mission-vission-gool img {
  max-width: 130px;
  max-height: 130px;
  padding-left: 5px;
  padding-top: 20px;
}
#mission {
  background-color: aliceblue;
}
#vission {
  background-color: antiquewhite;
}
#gool {
  background-color: beige;
}
.half-di {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 170px 170px;
  margin-left: 70px;
}
.coding {
  margin-left: 70px;
  margin-top: 60px;
  margin-right: 100px;
  max-width: 350px;
  max-height: 350px;
}
.Limits {
  padding-right: 90px;
  margin-top: 50px;
}
.Develop {
  line-height: 30px;
}
.global {
  margin-left: 130px;
  margin-top: 90px;
}
.project {
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 60px;
  max-width: 350px;
  max-height: 370px;
}
.project-picture {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 140px 140px;
  margin-right: 90px;
}
.one-platform {
  line-height: 25px;
  margin-left: 120px;
}
.Unlimited {
  margin-left: 120px;
  margin-right: 90px;
}
.creation {
  /* padding-right: 60px; */
  margin-right: 60px;
  border-top: 3px solid black;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
